@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">

    <div class="container-body">

        <div class="container-header">Kursy dla USD</div>

        <div class="wybor-form">
            Wybierz walute:
        </div>
        <div class="wybor-form">

            <form action="#">
                <label>
                    Wybierz date:
                    <input type="date" name="data">
                </label>
            </form>
        </div>
        <div style="clear: both;"></div>

        <a href="#" class="btn-set">Pokaż!</a>

        <div class="show-data">
            <div class="info">USD/PLN</div>
            <div class="info">3.78294</div>
        </div>

    </div>

</div>
