@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">

    <div class="container-body">

        <div class="container-header">Kursy dla USD</div>

        <div class="wybor-form">
            Wybierz walute:
            <select id="choose" name="currency">
                <option value="PLN">---</option>
            </select>
        </div>
        <div class="wybor-form">

            <form action="#">
                <label>
                    Wybierz date:
                    <input type="date" name="data" id="calendar">
                </label>
            </form>
        </div>
        <div style="clear: both;"></div>

        <div class="show-data">
            <div class="info">Kurs</div>

            <div class="info">
                <output type="number"> </output>
            </div>
        </div>

        <script>

            const select = document.querySelectorAll('select');
            const input = document.querySelectorAll('input');
            const output = document.querySelectorAll('output');

            var dateControl = document.querySelector('input[type="date"]');
            console.log(dateControl.value); 

            input[0].addEventListener('change', () => {
                console.log(dateControl.value);
                API_URL = "https://openexchangerates.org/api/historical/" + dateControl.value + ".json?app_id=984511ca2af843e59f5229a272a16bec";
                output[0].value = " ";
            
                async function curr() {
                    let html = '';

                    const res = await fetch(API_URL);
                    const data = await res.json();

                    const tablicakursow = Object.keys(data.rates);
                    const rates = data.rates;
                    console.log(rates);

                    tablicakursow.map(item => {
                        return html += `<option value=${item}>${item}</option>`;
                    });

                    select[0].innerHTML = html;

                    select[0].addEventListener('click', () => {
                        output[0].value = rates[select[0].value];
                    });

                };
                curr();
            });

        </script>

    </div>

</div>
